/.vs/BlockchainArchive/DesignTimeBuild/.dtbcache
/.vs/BlockchainArchive/config/applicationhost.config
/.vs/BlockchainArchive/v16/.suo
/.vs/BlockchainArchive/v16/Server/sqlite3/db.lock
/.vs/BlockchainArchive/v16/Server/sqlite3/storage.ide
obj
bin
/.vs/BlockchainArchive/v16/Server/sqlite3/storage.ide-shm
/.vs/BlockchainArchive/v16/Server/sqlite3/storage.ide-wal
/BlockchainArchive/BlockchainArchive.csproj.user
